
a {
    text-decoration: none;

    &:hover {
        color: $danger;
        text-decoration: underline;
    }
}

.font-alt {
    font-family: $font-secondary;
}

.clear-input {
    outline: none;
    border: none;
    background: transparent;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
